/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
}

a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #03C4EB;
  color: #fff;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/hero-bg.jpg) top center fixed;
  background-size: cover;
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #999;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #111;
  padding: 20px 0;
  height: 90px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

#header h4 {
  font-size: 20px;
  font-family: arial black;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: rgba(0, 0, 0, 0.85);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Menu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 1000px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #03C4EB;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 1000px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB;
}

#mobile-nav ul .menu-item-active {
  color: #03C4EB;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Seccion del modal carrito:
--------------------------------*/
#modalC{
}
#modalC .modal-dialog{
	overflow-y: initial !important;
	margin-right: 100px;
	margin-top: 90px;
}

#modalC .modal-content{
	width: 555px;
	background: #ffffff;
}

#modalC .modal-body{
	height: 400px;
	width: 550px;
    overflow-y: auto;
}

#modalC td{
	background: #000000;
}

.modal_btn{
font-size: 15px;
font-family: arial black;
color: black;
background-color: #FFC312;
margin-top: 10px;
}

.modal_btn:hover{
color: black;
background-color: #ffff00;
}

.modal_btn2{
font-size: 15px;
font-family: arial black;
color: #ffffff;
background-color: #000000;
margin-top: 10px;
}

.modal_btn2:hover{
color: #ffffff;
background-color: #ff0000;
}



/* Seccion del modal acciones:
--------------------------------*/
#modalA{
}
#modalA .modal-dialog{
	overflow-y: initial !important;
	margin-right: 10px;
	margin-top: 286px;
}

#modalA .modal-content{
	width: 80px;
	background: #ffffff;
	left: 86%;
	background-color: #05d9fb; 
	transition: 1s; 
}

#modalA .modal-body{
	height: auto;
	width: 80px;
    overflow-y: auto;
}

#modalA td{
	background: #000000;
}

#modalA i{
	font-size: 20px;
}

.modal_btn3{
font-size: 20px;
color: #ffffff;
background-color: #000000;
}

.modal_btn3:hover{
color: #ffffff;
background-color: #ff0000;
}


/* Seccion del modal Foto:
--------------------------------*/
#modalF{
}
#modalF .modal-dialog{
	overflow-y: initial !important;
	margin-right: 10px;
	margin-top: 286px;
}

#modalF .modal-content{
	width: 400px;
	height: 400px;
	background: #ffffff;
	left: -40%;
	background-color: #26ffeb; 
	transition: 1s; 
}

#modalF .modal-body{
	width: 400px;
	height: 400px;
    overflow-y: auto;
}

#modalF .modal-title{
	font-family: Arial Black;
	color: #000000;
  	font-size: 25px;
}

/* Seccion del modal de Pedido:
--------------------------------*/
#modalP{
}
#modalP .modal-dialog{
	overflow-y: initial !important;
	margin-right: 10px;
	margin-top: 286px;
}

#modalP .modal-content{
	width: 450px;
	height: 250px;
	background: #ffffff;
	left: -70%;
	background-color: #000000; 
	transition: 1s; 
}

#modalP .modal-body{
	width: 400px;
	height: 400px;
}

#modalP .modal-title{
	color: #ffffff;
	align: text-center;
}

.modal_btn4{
font-size: 20px;
color: #000000;
background-color: #ffffff;
}

.modal_btn4:hover{
color: #ffffff;
background-color: #000000;
}


/* Seccion del modal acciones:
--------------------------------*/
#modalPro{
}

#modalPro .modal-dialog{
	overflow-y: initial !important;
	margin-right: 10px;
	margin-top: 130px;
}

#modalPro .modal-content{
	width: 1145px;
	background: #ffffff;
	right: 141%;
	background-color: #ffffff; 
	transition: 1s; 
}

#modalPro .modal-body{
	height: auto;
	width: 1145px;
	background-size: 100% 100%;
}

#modalPro td{
	background: #000000;
}

#modalPro i{
	font-size: 20px;
}


/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-content {
  background: #fff;
}

#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

#about .about-text {
  line-height: 36px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

#about h2 {
  font-size: 35px;
  font-family: arial black;
  background-color: #FFC312;
  color: #000000;
}

#about h3 {
  font-size: 18px;
}

#about h5 {
  font-size: 22px;
  color: #ff0000;
}

#about i {
  font-size: 30px;
}

#about input {
  font-size: 14px;
}

/* Seccion de Slider 1
--------------------------------*/
#slider {
   margin: auto;
   overflow: hidden;
}

#slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 23s infinite alternate;
}

#slider ul:hover{
	animation-play-state: paused;
	cursor: pointer;
}

#slider li{
	width: 100%;
	list-style: none;	
}

#slider img{
	width: 100%;
	height: 400px;
}


/* Para darle la transicion entre imagen
--------------------------------*/
@keyframes cambio
{
	0% { margin-left: 0; }
	20% { margin-left: 0; }
	
	25% { margin-left: -100%; }
	45% { margin-left: -100%; }
	
	50% { margin-left: -200%; }
	70% { margin-left: -200%; }
	
	75% { margin-left: -300%; }
	100% { margin-left: -300%; }
}


/* Seccion de Slider 2
--------------------------------*/
#slider2 {
   margin: auto;
   overflow: hidden;
}

#slider2 ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 30s infinite alternate;
}

#slider2 ul:hover{
	animation-play-state: paused;
	cursor: pointer;
}

#slider2 li{
	width: 100%;
	list-style: none;	
}

#slider2 img{
	width: 100%;
	height: 400px;
}


/* Para darle la transicion entre imagen
--------------------------------*/
@keyframes cambio
{
	0% { margin-left: 0; }
	20% { margin-left: 0; }
	
	25% { margin-left: -100%; }
	45% { margin-left: -100%; }
	
	50% { margin-left: -200%; }
	70% { margin-left: -200%; }
	
	75% { margin-left: -300%; }
	100% { margin-left: -300%; }
}



/* Services Section
--------------------------------*/
#services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/services-bg.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: #03C4EB;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #03C4EB;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #03C4EB;
}

#services .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .service-title a {
  color: #111;
}

#services .service-description {
  margin-left: 80px;
  line-height: 24px;
}

/* Subscribe Section
--------------------------------*/
#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#subscribe .subscribe-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

#subscribe .subscribe-text {
  color: #fff;
  font-size: 22px;
}

#subscribe .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
}

#subscribe .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#subscribe .subscribe-btn:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 40px 0;
}

#portfolio .card{
   background-color: #000000 !important;
   width: auto;	
   height: 380px;
}


#portfolio .card-body{
   color: #ffffff;	
}

#portfolio .card-title {
    text-align: center;
    font-size: 22px;
}

#portfolio .card-text {
	margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #0080ff;
}

#portfolio .card-text2 {
	margin-top: 5px;
    text-align: center;
    font-size: 20px;
    font-family: arial black;
    background-color: #FFC312;
    color: #000000;
}

#portfolio .card-carrito {
    font-size: 40px;
    color: #0080ff;
}

#portfolio .card2{
   background-color: #000000 !important;
   width: auto;	
   height: 410px;
}

#portfolio .card3{
   background-color: #000000!important;
   color: #ffffff;
   width: 700px;	
   height: 50px;
}

#portfolio .card3-body{
   color: #ffffff;	
}


#portfolio .portfolio-item {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #000000;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#portfolio .portfolio-item .details h4 {
  font-size: 16px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #ffffff;
}

#portfolio .portfolio-item .details h2 {
  display: block;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Botones para ver productos:
--------------------------------*/

.ver_btn{
	font-size: 15px;
	font-family: Arial Black;
	color: white;
	background-color: #000000;
	width: 500px;
}

.ver_btn:hover{
	color: white;
	background-color: #ff0000;
}




/* Testimonials Section
--------------------------------*/
#testimonials {
  background: #000000;
  padding: 80px 0;
}

.section-title-blanco {
	font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.section-description {
	font-size: 25px;
}

#testimonials .profile {
  text-align: center;
}

#testimonials .profile .pic {
  border-radius: 50%;
  border: 6px solid #fff;
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  width: 260px;
}

#testimonials .profile .pic img {
  max-width: 100%;
}

#testimonials .profile h4 {
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
}

#testimonials .profile span {
  color: #333333;
}

#testimonials .quote {
  position: relative;
  background: #ffc107;
  padding: 50px;
  margin-top: 40px;
  font-size: 28px;
  font-style: italic;
  border-radius: 70px;
  line-height: 43px;
  font-weight: 600;
  color: #000000;
}

#testimonials .card {
 	padding: 7px;
 	height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: #ffffff!important;
}
}


#testimonials .quote b {
  display: inline-block;
  font-size: 22px;
  left: -9px;
  position: relative;
  top: -8px;
}

#testimonials .quote small {
  display: inline-block;
  right: -9px;
  position: relative;
  top: 4px;
}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #03C4EB;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #03C4EB;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .form #sendmessage {
  color: #03C4EB;
  border: 1px solid #03C4EB;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #03C4EB;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #25d8fc;
}


/* Admin Section
--------------------------------*/
#admin {
  background-image: url('../img/sesionAdmin.jpg');
  padding: 80px 0;
}

#admin .section-title-blanco {
	font-size: 32px;
    color: #f8f9fa;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

#admin .titulo {
	font-size: 45px;
    color: #f8f9fa;
    text-align: center;
    font-family: Arial Black;
}

#admin .section-description {
	font-size: 25px;
	color: #f8f9fa;
}

#admin .profile {
  text-align: center;
}

#admin .card {
  	height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#admin .form-control {
    font-size: 18px;
    background-color: #000000;
    color: #ffffff;
}





/*--------------------------------------------------------------
# Alert cuando agrega un producto al carrito
--------------------------------------------------------------*/

#alertPro {
  
}

#alertPro .alert{
	color: #f8f9fa;
	font-size: 15px;
    background-color: #14a232;
    border-color: #000000;
	opacity: 1;
	padding: 8px;
}

#alertPro .close {
    font-size: 30px;
    font-weight: 780;
    line-height: 0.3;
    position: relative;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}


/*--------------------------------------------------------------
# Iniciar Sesion
--------------------------------------------------------------*/

html,body{
background-image: url('../img/imagen6.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
padding: 0px !important;
}

.container{	
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
font-size: 40px;
margin-top: 30px;
font-family: cursive;
text-align: center;
}

.social_icon{
position: absolute;
right: 20px;
top: -50px;
}

.input-group-prepend span{
width: 33px;
background-color: #FFC312;
color: black;
border:0 !important;
font-size: 20px;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
font-size: 20px;
font-family: cursive;
color: black;
background-color: #FFC312;
width: 100px;
margin-top: 10px;
}

.login_btn2{
font-size: 18px;
font-family: cursive;
color: white;
background-color: #000000;
width: 200px;
margin-top: 10px;
width: 423px;
}

.login_btn:hover{
color: black;
background-color: #ffff00;
}

.login_btn2:hover{
color: white;
background-color: #23231f;
}

.links a{
margin-left: 4px;
color: yellow;
font-size: 20px;
text-decoration: underline yellow;
}

/* Alert que muestra los errores en el Iniciar Sesion */
.alert{
	font-size: 15px;
	color: #f8f9fa;
    background-color: #ea2b3d;
    border-color: #ffffff;
	opacity: 1;
	padding: 8px;
}

.close {
    float: right;
    font-size: 30px;
    font-weight: 780;
    line-height: 0.3;
}

/*--------------------------------------------------------------
# Registrarse
--------------------------------------------------------------*/

#register {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/imagen13.jpeg) top center fixed;
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: 'Numans', sans-serif;
}

.card2{
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: auto;
	background-color: rgba(0,0,0,0.5) !important;
	align-content: center;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

label {
	color: white;
}

.login_btn3{
	font-size: 18px;
	font-family: cursive;
	color: white;
	background-color: #000000;
	width: 200px;
	margin-top: 10px;
	width: 712px;
}

.login_btn3:hover{
	color: white;
	background-color: #ff0000;
}

/*--------------------------------------------------------------
# Descripcion del producto
--------------------------------------------------------------*/

.login_btn4{
font-size: 22px;
font-family: arial black;
color: black;
background-color: #FFC312;
margin-top: 10px;
}

.login_btn4:hover{
color: black;
background-color: #ffff00;
}

.table-info, .table-info>td, .table-info>th {
    background-color: #05d9fb;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #000;
}